<div class="mt-4">
  <form action="/courses/store" method="POST">
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả khóa học</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
      />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Tên khóa học</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="mb-3">
      <label for="videoId" class="form-label">Video Id</label>
      <input type="text" class="form-control" id="videoId" name="videoId" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>