<div class="mt-4">
  <h3>Cập nhật khóa học</h3>
  <form action="/courses/{{course._id}}?_method=PUT" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Tên khóa học</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="{{course.name}}"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <textarea
        name="description"
        id="description"
        rows="5"
      >{{course.description}}</textarea>
    </div>
    <div class="mb-3">
      <label for="videoId" class="form-label">Video Id</label>
      <input
        type="text"
        class="form-control"
        id="videoId"
        name="videoId"
        value="{{course.videoId}}"
      />
    </div>
    <button type="submit" class="btn btn-primary">Lưu lại</button>
  </form>
</div>