<div class="mt-4">
  <div class="row">
    <div class="col-lg-3">
      <button class="btn btn-primary">Study now</button>
    </div>
    <div class="col-lg-9">
      <h2>{{course.name}}</h2>
      <iframe
        width="665"
        height="374"
        src="https://www.youtube.com/embed/{{course.videoId}}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p>{{course.description}}</p>
    </div>
  </div>
</div>