/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-three{
    width: calc(100%/3);
}

.col-two{
    width: 50%;
}

#main{

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/chicago.jpg') no-repeat top center /cover;
    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
}

#slider .text-content .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}

#slider .text-content .text-description{
    font-size: 15px;
    text-shadow: 0 0 1px #000;
}

#content{
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

#content .tour-section .content-section{
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about{
    margin-top: 25px;
    font-size: 15px;
    line-height: 1.4;
}

#footer{

}

#nav{
    display: inline-block;
}

#nav>li{
    display: inline-block;
}
#nav li{
    position: relative;
    list-style: none;
}

#nav>li>a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav li:hover>a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 12px;
}

#header .search-button{
    float: right;
    padding: 0 21px;
}

#header .search-button:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .menu-btn:hover{
    background-color: #ccc;
}

#header .menu-btn:hover .menu-icon{
    color: #000;
}

.search-button .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

.text-center{
    text-align: center !important;
}


#content .member-img{
    width: 60%;
    border-radius: 4px;
}

#content .member-list{
    margin-top: 48px;
    margin-bottom: 32px;
}

#content .member-name{
    font-size: 15px;
    margin-bottom: 15px;
}

.tour-section{
    background-color: #000;
}

.text-white{
    color: #fff !important;
}

.tickets-list{
    margin-top: 33px;;
    background-color: #fff;
    list-style: none;
    /* margin-left: 8px;
    margin-right: 8px; */
}

.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.sold-out{
    margin-left: 16px;
    padding: 3px 8px;
    background-color: #f44336;
    color: #fff;
}

.quantity{
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    height: 24px;
    width: 24px;
    float: right;
    margin-right: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
}


#content .tour-section .place-list{ 
    padding: 32px 0;
}

#content .place-list .place-img{
    width: 100%;
    display: block;
}

#content .place-list .place-body{
    background-color: #fff;
    padding: 0 16px;
    font-size: 15px;
}
.place-img:hover{
    opacity: 0.6;
}

#content .place-list .place-heading,
#content .place-list .place-description{
    padding: 15px 0;
}

#content .place-list .place-time{
    opacity: 0.6;
}

.place-buy-btn{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    margin-bottom: 16px;
    display: inline-block;
    border: none;
    cursor: pointer;
    text-align: center;
}

.place-buy-btn:hover{
    background-color: #ccc;
    color: #000;
}

.modal{
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container{
    width: 900px;
    background-color: #fff;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 36px);
    animation: modalShow ease .4s;
}

.modal-header{
    background-color: #009688;
    height: 130px;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close{
    position: absolute;
    width: 46px;
    height: 52px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
}


.modal-close:hover{
    background-color: #ccc;
    color: #000;
}


.ti-bag{
    margin-right: 16px;
}

.modal .modal-body{
    padding: 0 16px;
    font-size: 15px;
}

.modal .modal-label{
    display: block;
    margin: 15px 0;
}

.modal .modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding: 8px;
}

#buy-tickets{
    display: block;
    padding: 16px;
    margin: 16px 0;
    width: 100%;
    background-color: #009688;
    border: none;
    color: #fff;
    text-transform: uppercase;
}

#buy-tickets:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

#buy-tickets .ti-check{
    font-weight: bolder;
}

.modal .modal-footer{
    margin: 15px 16px;
    text-align: right;
}

.modal .modal-footer a{
    color: #2196F3;
}

.open{
    display: flex;
}

@keyframes modalShow{
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.contact-info>p{
    font-size: 18px;
    line-height: 27px;
}

.contact-info>p>i{
    width: 30px;
    display: inline-block;
}

.content-section .contact-section{
    padding-top: 48px;
    padding-bottom: 32px;
    min-height: 222px;
}

.col-one{
    width: 100%;
}
.contact-section .form-control{
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
}

.input-massage{
    margin-top: 8px;
}

.contact-section .send-button{
    margin: 16px 0px;
    padding: 8px 16px;
    float: right;
    background-color: #000;
    color: #fff;
    border: none;
}

.contact-section .send-button:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.map img{
    width: 100%;
    display: block;
}

#footer{
    min-height: 216px;
    width: 100%;
    padding: 64px 16px;
    background-color: #f1f1f1;
    font-size: 15px;
    opacity: 0.6;
    text-align: center;
}

#footer div{
    margin-top: 15px;
}

#footer .footer-icon li {
    display: inline-block;
}

#footer .footer-icon li:hover {
    opacity: 0.6;
}

#footer .footer-icon li i {
    font-size: 24px;
}

.footer-text{
    margin: 15px 0px;
}

#footer a{
    color:#000;
}
#footer a:hover{
    opacity: 0.6;
}

@media (min-width: 46.25em) and (max-width: 63.9375em){
    #content .content-section{
        padding-left: 16px;
        padding-right: 16px;
    }
}

#header .menu-btn{
    display: none;
}

@media (max-width:9375em){
    .btn{
        padding: 16px 16px !important;
    }

    input{
        height: 48px !important;
    }

    .footer-icon{
        font-size: 48px;
    }

    .footer-icon li{
        margin: 0 8px;
    }

    .contact-info p{
        line-height: 2 !important;
    }

    #nav .subnav>li{
        height: 48px;
    }

    #nav .subnav>li>a{
        line-height: 48px;
    }

    #footer a{
        display: inline-block;
        padding: 15px 0;
    }
}

@media (max-width:46.1875em) {
    #header{
    overflow: hidden;
    }

    #nav{
        display: block;
        position: relative;
    }

    #nav .subnav{
        position: initial;
        background-color: #333;
        border-top: 1px #fff solid;
    }

    #nav .subnav li a{
        color: #fff;
        padding: 5px 72px;
    }

    #nav>li{
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }
    #select-home{
        display: inline-block !important;
    }

    #header .search-button{
        display: none;
    }

    #header .menu-btn{
        float: right;
        padding: 0 21px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .menu-btn .menu-icon{
        color: #fff;
        font-size: 20px;
        line-height: 46px;
    }

    .member-list .member-item{
        width: 100%;
        margin-top: 30px;
    }

    .place-item{
        width: 100%;
        margin-bottom: 16px;
    }

    #content .content-section{
        padding-left: 16px;
        padding-right: 16px;
    }

    .full-width,
    .col-full{
        width: 100% !important;
    }
}
