navbar-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-item{
    text-decoration: none;
    padding: 0px 15px;
    font-size:1.4rem;
    color: #000;
}


.dropdown-item:hover>a,
.dropdown-item:hover>.MuiSvgIcon-root,
.navbar-item:hover,
.navbar-item.item-active{
    color: #009ECE;
}

.login-btn{
    display: inline-block;
    padding: 8px 22px;
    color: #ffffff !important;
    background: #009ECE;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.MuiSvgIcon-root{
    transform: translateY(20%)
}

.MuiPaper-root{
    min-width: 180px;
    position: absolute;
    padding: 20px 0;
    border-radius: 2px;
    top: calc(100% + 12px);
    display:none; 
    animation: fadeIn ease-in .2s;
}
.navbar-item>.MuiPaper-root::before{
    content: "";
    display: block;
    position: absolute;
    bottom:calc(100%);
    height:14px;
    left: 0;
    width:50%;
}

.navbar-item-dropdown{
    display: inline-block;
    position: relative;
}

.sub-dropdown-list,
.dropdown-list{
    padding-left: 0;
    list-style: none;
}

.dropdown-item{
    padding: 5px 20px;
}

.dropdown-item>a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #000;
    line-height: 2.1rem;
}

.MuiSvgIcon-root{
    float: right;
}

.dropdown-item>.MuiPaper-root.MuiPaper-elevation1{
    display:none;
    position: absolute;
    left: calc(100% + 0px);
    top: 40%;
    animation: fadeIn ease .2s;
}

.navbar-item-dropdown,
.dropdown-item-has-child{
    cursor: pointer;
}

.navbar-item-dropdown:hover>.MuiPaper-root.MuiPaper-elevation1,
.dropdown-item-has-child:hover>.MuiPaper-root.MuiPaper-elevation1{
    display: block;
}

@keyframes fadeIn{
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}