*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f5;
  }

body>div{
    margin: auto;
}

.toast{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    padding: 20px 0px;
    min-width: 400px;
    max-width: 450px;
    animation: all linear .4s;
}


@keyframes slideInLeft {
    from{  
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to{
        opacity: 0;
    }
}

.toast+.toast{
    margin-top: 24px;
}
.toast__icon{
    font-size: 24px;
    padding: 0px 16px;
}

.toast__body{
    flex-grow: 1;
}

.toast__title{
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg{
    font-size: 14px;
    color: #888;
    margin-top: 4px;
}

.toast__close{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    padding: 0px 16px;
    cursor: pointer;
}

.toast--success{
    border-color: #47d864;
}

.toast--success .toast__icon{
    border-color: #47d864;
}

.toast--warning{
    border-color: #ffc021;
}

.toast--warning .toast__icon{
    border-color: #ffc021;
}

#toast{
    position: fixed;
    top: 32px;
    right: 32px;
}

.btn{
    display: inline-block;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity .2s ease;
}

.btn:hover{
    opacity: 0.8;
}

.btn + .btn{
    margin-left: 16px;
}

.btn--success{
    background-color: #71be34;
}

.btn--warn{
    background-color: #ffb702;
}
